* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
    src: url(../fonts/handwriting-black-draft_DEMO.otf);
    font-family: handwriting;
}

/* Handwriting font */
@font-face {
    src: url(../fonts/Minecrafter.Reg.ttf);
    font-family: minecraft;
}

/* Minecraft clean font */
@font-face {
    src: url(../fonts/Minecrafter.Alt.ttf);
    font-family: minecraft_cracked;
}

/* Minecraft cracked font */
@font-face {
    src: url(../fonts/LexendDeca-Regular.ttf);
    font-family: Lexend_Deca;
}

/* Adamptive color scheme */
@media screen {
    :root {
        --text-color: rgb(0, 0, 0);
        --background-color: rgb(255, 255, 255);
        --accent-color: hsl(200, 100%, 50%);
        --grey:rgb(212, 212, 212);
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --text-color: rgb(255, 255, 255);
            --background-color: rgb(0, 0, 0);
            --accent-color: hsl(110, 100%, 50%);
            --grey:rgb(54, 54, 54);
        }
    }

    .dark {
        --text-color: rgb(255, 255, 255);
        --background-color: rgb(0, 0, 0);
        --accent-color: hsl(110, 100%, 50%);
        --grey:rgb(54, 54, 54);
    }

    .light {
        --text-color: rgb(0, 0, 0);
        --background-color: rgb(255, 255, 255);
        --accent-color: hsl(200, 100%, 50%);
        --grey:rgb(212, 212, 212);
    }
}

/* Base layout */

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    height: 100vh;
    width: 100vw;
    color: var(--text-color);
    background-color: var(--background-color);
}

/* mainview && navbar*/
.mainview{
    position: absolute;
    top:0;
    right:0;
    height: calc(100vh - 13vw);
    width: 100vw;
    overflow-y: scroll;
}

.navbar{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 13vw;
    background-color: var(--grey);
}

/* Pantry list items (fake list) */
.pantry_item{
    position: relative;
    width: 90vw;
    height: 35vw;
    margin: 5vw;
    margin-top: 14vw;
    box-shadow: 0.5vw 0.5vw 2vw 0vw var(--text-color);
}

.preview_square{
    position: absolute;
    left:3vw;
    top:-10vw;
    height: 30vw;
    width: 30vw;
    background-color: rgb(0, 0, 0);
    background: linear-gradient(120deg,#fff,rgb(36, 36, 36));
    overflow: hidden;
}

.preview_img{
    position: absolute;
    top:4%;
    left: 4%;
    height: 92%;
    width: 92%;
    background-color: black;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/icon.png');
    overflow: hidden;
}
.preview_img::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 200%;
    transform: rotate(-45deg) translate(-20%,-75%);
    background: linear-gradient(180deg,rgba(255,255,255,0.8),rgba(255,255,255,0.6),rgba(255,255,255,0.4),rgba(255,255,255,0.2),rgba(255,255,255,0));
}

/*    <--  Landscape layout (with min-width) -->     */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {}