* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
    src: url(../fonts/handwriting-black-draft_DEMO.otf);
    font-family: handwriting;
}

/* Handwriting font */
@font-face {
    src: url(../fonts/Minecrafter.Reg.ttf);
    font-family: minecraft;
}

/* Minecraft clean font */
@font-face {
    src: url(../fonts/Minecrafter.Alt.ttf);
    font-family: minecraft_cracked;
}

/* Minecraft cracked font */
@font-face {
    src: url(../fonts/LexendDeca-Regular.ttf);
    font-family: Lexend_Deca;
}

/* Portrait theme */

:root {
    --accent-color: hsl(204, 100%, 50%);
    --text-color: rgb(0, 0, 0);
    --background-color: rgb(255, 255, 255);
    --grey: rgb(212, 212, 212);
    --elivation_color: 70%;
    --button_depth: translate(3%, 10%);
    --transparent_background_color: rgba(255, 255, 255, 0.6);
    --half_grey: rgb(177, 177, 177);
    --elivation_color: 70%;
    --setting-icon: url('../img/gear-svgrepo-com.svg');
    --card_icon: url('../img/icon.png');
    --edit_img: url('../img/UI/edit.svg');
    --plussimg: url('../img/UI/plus-svgrepo-com.svg');
    --recipie_icon: url('../img/UI/bread-svgrepo-com.svg');
    --more_icon: url('../img/UI/more-horizontal-svgrepo-com.svg');
    --history_icon: url('../img/UI/history-svgrepo-com.svg');
    --grocery_bag_icon: url('../img/UI/groceries-grocery-svgrepo-com.svg');
    --bag_icon: url('../img/UI/bag-svgrepo-com.svg');
    --book_open_icon: url('../img/UI/open-book-svgrepo-com.svg');
    --book_closed_icon: url('../img/UI/closed-book-1-svgrepo-com.svg');
    --inversion_factor: invert(0);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: rgb(255, 255, 255);
        --background-color: rgb(0, 0, 0);
        --transparent_background_color: rgba(0, 0, 0, 0.6);
        --grey: rgb(54, 54, 54);
        --half_grey: rgb(100, 100, 100);
        --elivation_color: 20%;
        --inversion_factor: invert(1);
    }
}

.dark {
    --text-color: rgb(255, 255, 255);
    --background-color: rgb(0, 0, 0);
    --transparent_background_color: rgba(0, 0, 0, 0.6);
    --grey: rgb(54, 54, 54);
    --half_grey: rgb(100, 100, 100);
    --elivation_color: 20%;
    --inversion_factor: invert(1);
}

.light {
    --text-color: rgb(0, 0, 0);
    --background-color: rgb(255, 255, 255);
    --transparent_background_color: rgba(255, 255, 255, 0.6);
    --grey: rgb(212, 212, 212);
    --half_grey: rgb(177, 177, 177);
    --elivation_color: 70%;
    --inversion_factor: invert(0);
}

body {
    font-family: Lexend_Deca, system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    height: 100%;
    width: 100%;
    color: var(--text-color);
    background-color: var(--background-color);
}

/* mainview && navbar*/
.mainview_hidden,
.mainview {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 3.2rem);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
    color: var(--text-color);
    background-color: var(--background-color);
}

.mainview {
    display: block;
}

/* 
    Navigation_dock
*/
.Navigation_dock {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3.2rem;
    background-color: var(--grey);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    transition: background-color 500ms, color 500ms;
}

.navbtn,
.navbtn_ative {
    /*  Button/interation target  */
    position: relative;
    height: 3.2rem;
    width: 25vw;
    border-radius: 1rem;
    transition: background-color 300ms;
    background-color: var(--grey);
    cursor: pointer;
    overflow: hidden;
}

.navbtn_ative {
    background-color: var(--accent-color);
}

.navbtn:hover {
    background-color: var(--half_grey);
    transition: background-color 100ms;
}

.navbtn_title {
    position: absolute;
    bottom: 0rem;
    height: 1rem;
    font-size: 0.8rem;
    text-shadow: 0rem 0rem 0.3rem var(--background-color);
    color: var(--text-color);
    text-shadow: none;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    opacity: 1;
    text-align: center;
    transition: opacity 300ms;
}

.navbtn .navicon,
.navbtn_ative .navicon {
    /* Button icons */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    height: 2.1rem;
    width: 2.1rem;
    box-sizing: border-box;
    padding-top: 0.1rem;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    transition: transform 150ms, margin 150ms, height 150ms, width 150ms, background-size 150ms;
    overflow: visible;
}

.navbtn_ative .navicon {
    height: 3.2rem;
    width: 3.2rem;
    background-size: 90%;
}

.navbtn_ative .navbtn_title {
    opacity: 0;
}

#inventory_icon {
    background-image: var(--grocery_bag_icon);
    filter: var(--inversion_factor);
    background-size: 85%;
    /*background-image: var(--bag_icon);*/
}

#recipie_icon {
    background-image: var(--recipie_icon);
    background-size: 150%;
    filter: var(--inversion_factor);
}

#hsitory_icon {
    background-image: var(--history_icon);
    filter: var(--inversion_factor);
}

#more_icon {
    background-image: var(--more_icon);
    filter: var(--inversion_factor);
    /*background-size: 140%;*/
}

/*
Inventory view
*/

.Dynamic_lists_pannel {
    /* Restrain titles and lists for inventory or recipies main lists*/
    position: absolute;
    height: fit-content;
    width: 100%;
    display: block;
}

.list_title {
    position: relative;
    width: 100%;
    text-align: center;
    text-justify: distribute;
    line-height: 7rem;
    font-size: 2rem;
    height: 7rem;
    font-family: minecraft;
}

.Inentory_list {
    position: relative;
    width: 100%;
    height: fit-content;
    min-height: 7rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: center;
}

.empty_list_modal {
    height: 100%;
    width: 100%;
    position: relative;
    color: var(--text-color);
    opacity: 0.6;
    line-height: 100%;
    font-size: 1.1rem;
    text-align: center;
    align-self: center;
}

.inventory_list_block {
    position: relative;
    height: 5rem;
    width: 20rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    border-radius: 0.4rem;
    box-shadow: 0rem 0rem 0.1rem 0.1rem var(--text-color);
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
}

.inventory_list_block:hover {
    box-shadow: 0rem 0rem 0.4rem 0.2rem var(--text-color);
}

.inventory_list_block .inventory_icon {
    position: absolute;
    top: 0.2rem;
    left: 0.3rem;
    height: 3.5rem;
    width: 3.5rem;
    box-sizing: border-box;
    padding: 0.1rem;
    border-radius: 0.4rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/bag-svgrepo-com.svg');
}

.inventory_list_block .title {
    position: absolute;
    top: 0;
    right: 0;
    width: 16.3rem;
    font-size: 1.2rem;
    height: 1.5rem;
    line-height: 1.5rem;
    white-space: nowrap;
    text-align: center;
}

.inventory_list_block .description {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 16.3rem;
    font-size: 0.8rem;
    height: 3.1rem;
    line-height: 100%;
    white-space: nowrap;
    text-align: center;
}

.inventory_list_block .item_count {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3.5rem;
    font-size: 0.6rem;
    height: 0.8rem;
    line-height: 100%;
    white-space: nowrap;
    text-align: center;
}

/* Plus and edit buttons */
.universal_add_button,
.universal_edit_button {
    position: fixed;
    bottom: 4rem;
    right: 0.6rem;
    height: 3.6rem;
    width: 3.6rem;
    border-radius: 50%;
    background-clip: padding-box;
    margin: 0.4rem;
    background-color: var(--accent-color);
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 300ms;
    transform: translate(0, 0);
    z-index: 2;
}

.universal_edit_button {
    bottom: 8rem;
}

.universal_add_button:active,
.universal_edit_button:active {
    transform: var(--button_depth);
    transition: transform 0ms;
}

.universal_add_button::after,
.universal_add_button::before {
    /* Plus icon */
    content: "";
    position: absolute;
    top: 0.4rem;
    right: 1.6rem;
    width: 0.4rem;
    height: 2.8rem;
    background-color: var(--text-color);
    border-radius: 0.4rem;
    transition: transform 300ms;
}

.universal_add_button::before {
    top: 1.6rem;
    right: 0.4rem;
    width: 2.8rem;
    height: 0.4rem;
}

.universal_add_button:active::after,
.universal_add_button:active::before {
    transform: rotate(180deg);
}


/*    <--  Landscape layout (with min-width) -->     */

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {}