*{transition: none!important;animation: none!important;}


/* junk */ 

/* Setting view */
#setting_view {
    transition: background-color 500ms, color 500ms;
    overflow-x: hidden;
    overflow-y: scroll;
}

.settingtitle {
    position: relative;
    width: 100%;
    height: fit-content;
    font-size: 10vw;
    text-align: center;
}

.setting_tabler {
    position: relative;
    width: 100%;
    height: fit-content;
}

.setting_tabler td {
    height: fit-content;
    align-items: center;
    align-content: center;
    font-size: 6vw;
    text-align: center;
}

.theme_bar,
.theme_bar_2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: fit-content;
    width: 100%;
}

.theme_bar .themebtn_container {
    position: relative;
    height: fit-content;
    width: 33.3%;
}

.theme_bar_2 .themebtn_container {
    position: relative;
    height: fit-content;
    width: 50%;
}

.thembtn,
.themebtn_active {
    font-size: 5vw;
    padding: 2vw;
    height: fit-content;
    width: 20vw;
    border-radius: 4vw;
    text-align: center;
    box-shadow: 0vw 0vw 0vw 0vw rgba(0, 0, 0, 0);
    margin: auto;
    transition: box-shadow 300ms, transform 300ms;
    cursor: pointer;
    transform: translate(0, 0);
}

.thembtn:active {
    transition: box-shadow 300ms, transform 0ms;
    transform: var(--button_depth)
}

.themebtn_active {
    box-shadow: 0vw 0vw 3vw 1vw var(--accent-color);
}

#dark_theme_btn {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#light_theme_btn {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.semi_title {
    height: fit-content;
    align-items: center;
    align-content: center;
    font-size: 6vw;
    text-align: center;
    padding-top: 3vw;
}

.switch_container_active,
.switch_container_dissabled {
    /* Setting switch */
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    height: 8vw;
    border: 0.7vw solid var(--text-color);
    border-radius: 5vw;
    cursor: pointer;
    transition: border 300ms, box-shadow 300ms;
    background-color: var(--background-color);
    box-shadow: 0vw 0vw 0vw 0vw;
}

.switch_container_active:hover {
    box-shadow: 0vw 0vw 5vw 0vw var(--accent-color);
}

.switch_container_dissabled:hover {
    box-shadow: 0vw 0vw 5vw 0vw var(--half_grey);
}

.switch_container_dissabled {
    border: 0.7vw solid var(--grey);
}

.switch_container_active .switchbdy,
.switch_container_dissabled .switchbdy {
    /*Body of the switch*/
    position: absolute;
    width: 20vw;
    height: 8vw;
    border-radius: 5vw;
}

.switch_container_active .switch_knob,
.switch_container_dissabled .switch_knob {
    /* Switch knob */
    top: 0.2vw;
    right: 0.2vw;
    position: absolute;
    height: 7.6vw;
    width: 7.6vw;
    border-radius: 50%;
    z-index: 1;
    transform: translate(0, 0);
    transition: background-color 300ms;
    background-color: var(--accent-color)
}

.switch_container_dissabled .switch_knob {
    background-color: var(--grey);
    transform: translate(-12vw, 0);
}

.accent-color-selector {
    position: relative;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.accent_blob,
.accent_blob_active {
    position: relative;
    height: 13vw;
    width: 13vw;
    background-color: var(--text-color);
    color: var(--background-color);
    margin: 2vw;
    border-radius: 3.5vw;
    cursor: pointer;
    transition: background-color 300ms, color 300ms, box-shadow 300ms, transform 300ms;
    transform: translate(0, 0);
}

.accent_blob:active {
    transition: background-color 300ms, color 300ms, box-shadow 300ms, transform 0ms;
    transform: var(--button_depth)
}

.accent_blob_active {
    box-shadow: 0vh 0vh 7vw 0vh var(--accent-color);
}

#hue0-selec {
    background-image: linear-gradient(120deg, hsl(0, 100%, 50%), hsl(0, 100%, var(--elivation_color)));
}

#hue30-selec {
    background-image: linear-gradient(120deg, hsl(30, 100%, 50%), hsl(30, 100%, var(--elivation_color)));
}

#hue60-selec {
    background-image: linear-gradient(120deg, hsl(60, 100%, 50%), hsl(60, 100%, var(--elivation_color)));
}

#hue90-selec {
    background-image: linear-gradient(120deg, hsl(90, 100%, 50%), hsl(90, 100%, var(--elivation_color)));
}

#hue120-selec {
    background-image: linear-gradient(120deg, hsl(120, 100%, 50%), hsl(120, 100%, var(--elivation_color)));
}

#hue150-selec {
    background-image: linear-gradient(120deg, hsl(150, 100%, 50%), hsl(150, 100%, var(--elivation_color)));
}

#hue180-selec {
    background-image: linear-gradient(120deg, hsl(180, 100%, 50%), hsl(180, 100%, var(--elivation_color)));
}

#hue210-selec {
    background-image: linear-gradient(120deg, hsl(210, 100%, 50%), hsl(210, 100%, var(--elivation_color)));
}

#hue240-selec {
    background-image: linear-gradient(120deg, hsl(240, 100%, 50%), hsl(240, 100%, var(--elivation_color)));
}

#hue270-selec {
    background-image: linear-gradient(120deg, hsl(270, 100%, 50%), hsl(270, 100%, var(--elivation_color)));
}

#hue300-selec {
    background-image: linear-gradient(120deg, hsl(300, 100%, 50%), hsl(300, 100%, var(--elivation_color)));
}

#hue330-selec {
    background-image: linear-gradient(120deg, hsl(330, 100%, 50%), hsl(330, 100%, var(--elivation_color)));
}
