
.dark {
    --text-color: rgb(255, 255, 255);
    --background-color: rgb(0, 0, 0);
    --t_background-color: rgba(0, 0, 0, 0.6);
    --accent-color: rgb(255, 255, 255);
    --grey: rgb(54, 54, 54);
    --half_grey: rgb(100, 100, 100);
    --elivation_color: 20%;
    --inversion_factor:invert(1);
}

.light {
    --text-color: rgb(0, 0, 0);
    --background-color: rgb(255, 255, 255);
    --t_background-color: rgba(255, 255, 255, 0.6);
    --accent-color: hsl(0, 0%, 0%);
    --grey: rgb(212, 212, 212);
    --half_grey: rgb(177, 177, 177);
    --elivation_color: 70%;
    --inversion_factor:invert(0);
}

._0 {
    --accent-color: #ff0000;
    --primary_hue: 0;
    --card_icon: url('../img/icon_0.png');
}

._30 {
    --accent-color: hsl(30, 100%, 50%);
    --primary_hue: 30;
    --card_icon: url('../img/icon_30.png');
}

._60 {
    --accent-color: hsl(60, 100%, 50%);
    --primary_hue: 60;
    --card_icon: url('../img/icon_60.png');
}

._90 {
    --accent-color: hsl(90, 100%, 50%);
    --primary_hue: 90;
    --card_icon: url('../img/icon_90.png');
}

._120 {
    --accent-color: hsl(120, 100%, 50%);
    --primary_hue: 120;
    --card_icon: url('../img/icon_120.png');
}

._150 {
    --accent-color: hsl(150, 100%, 50%);
    --primary_hue: 150;
    --card_icon: url('../img/icon_150.png');
}

._180 {
    --accent-color: hsl(180, 100%, 50%);
    --primary_hue: 180;
    --card_icon: url('../img/icon_180.png');
}

._210 {
    --accent-color: hsl(210, 100%, 50%);
    --primary_hue: 210;
    --card_icon: url('../img/icon_210.png');
}

._240 {
    --accent-color: hsl(240, 100%, 50%);
    --primary_hue: 240;
    --card_icon: url('../img/icon_240.png');
}

._270 {
    --accent-color: hsl(270, 100%, 50%);
    --primary_hue: 270;
    --card_icon: url('../img/icon_270.png');
}

._300 {
    --accent-color: hsl(300, 100%, 50%);
    --primary_hue: 300;
    --card_icon: url('../img/icon_300.png');
}

._330 {
    --accent-color: hsl(330, 100%, 50%);
    --primary_hue: 330;
    --card_icon: url('../img/icon_330.png');
}